
/* for pc screen */
@media screen and (min-width: 1280px) {
	body
	{
		font-family: Arial, Helvetica, sans-serif;
	}
	h1
	{
		letter-spacing: 2px;
		text-transform: uppercase;		
	}
	h2
	{
		letter-spacing: 3px;
		color: DeepPink;
	}
	h3
	{	
		text-transform: uppercase;
		color: DeepPink;
	}
	h4
	{
		color: Grey;
		font-style: italic;
	}
	p
	{
		
	}
	footer
	{
		font-size: 10px;
	}
#menuToggle
{
	display: none;
}
/*header*/
#header-grid-container
	{
	margin: 10px;
	border: double 10px #6699ff;
	padding: 15px;
	display: grid;
	background: #ffccf3;
	grid-template-areas:
		"holidaylogo"
		"title"
		"payoff"
		"nav";
	}
#holidaylogo
{
	grid-area: holidaylogo;
	width: 10%
}
#title
{
	grid-area: title;
}
#payoff
{
	grid-area: payoff;
	word-spacing: 10px;
}
#nav
{	
	grid-area: nav;	
	height: 80px;
	width: 100%;
	background: #ffccf3;
	border: solid #6699ff;
}
#nav > *
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
#nav-ul 
{
	float: left;
	margin-left: 40px;
}
#nav-li 
{
	display: inline-block;
	margin: 0 10px;
	line-height: 80px;	
}
#nav-li > a
{
	color: black;
	font-size: 30px;
}
#nav-li > a:hover
{	
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
/*footer*/
#student-footer
{
	grid-area: student-footer;
}
#cookie-statement
{
	grid-area: cookie-statement;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	opacity: 50%;
}
/*index page PC*/
#index-video
{
	grid-area: video;
	width: 20%;
	padding: 15px;
}	
#index-grid-container
{
	background: #ffccf3;
	display: grid;
	grid-gap: 15px;	
	grid-template-areas:"video video video"
						"index-article1 index-article1 aside"
						"index-article2 index-article2 aside"
						"index-article3 index-article3 aside"
						"student-footer student-footer cookie-statement"
						"student-footer student-footer cookie-statement";
}
#Article1-Curacao
{
	grid-area: index-article1;
	padding: 10px;
}
#Article2-Tenerife
{
	grid-area: index-article2;
	padding: 10px;
}
#Article3-Cruise
{
	grid-area: index-article3;
	padding: 10px;
}
#Article1-Curacao > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article1-Curacao > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#Article1-image-Curacao
{
	width: 30%;
	float: right;
	padding: 10px;
}

#Article2-image-Tenerife
{
	width: 30%;
	float: right;
	padding: 10px;
}
#Article2-Tenerife > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article2-Tenerife > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#Article3-image-Cruise
{
	width: 30%;
	float: right;
	padding: 10px;
}
#Article3-Cruise > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article3-Cruise > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#list-bestdestinations
{
	grid-area: aside;
	background: #e09590;
	font-size: 20px;
	padding: 10px;
	
}

/* Best Destinations Page PC*/
#bestdestinations-grid-container
{
	margin: 10px;
	background: #ffccf3;
	padding: 10px;	
	display: grid;
	grid-gap: 15px;
	
	grid-template-areas:"article2 article1 article3 "
						"article2 article1 article3 "
						"article5 article1 article3 "
						"article5 article1 article4 "
						"article5 article1 article4 "
						"article5 article1 article4 "
						"article5 article6 article6 "		
						"product1 product2 product3"
						"student-footer student-footer cookie-statement"
						"student-footer student-footer cookie-statement";
}						
#article1-bestdestinations
{
	grid-area: article1;
	background: #b3ffcc;
	padding: 10px;
	text-align: center;
}
#article2-bestdestinations
{
	grid-area: article2;
	background: #80ffff;
	padding: 10px;
	text-align: center;
}
#article3-bestdestinations
{
	grid-area: article3;
	background: #99ffff;
	padding: 10px;
	text-align: center;
}
#article4-bestdestinations
{
	grid-area: article4;
	background: #b3c6ff;
	padding: 10px;
	text-align: center;
}
#article5-bestdestinations
{
	grid-area: article5;
	background: #ffad99;
	padding: 10px;
	text-align: center;
}
#article6-bestdestinations
{
	grid-area: article6;
	background: #e6ffff;
	padding: 10px;
	text-align: center;
}

#product1-bestdestinations-cruise
{
	grid-area: product1;
}
#product2-bestdestinations-curacao
{
	grid-area: product2;
}
#product3-bestdestinations-tenerife
{
	grid-area: product3;
}
img
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* Tickets page PC*/
#tickets-grid-container
{
	background: #b3c6ff;
	margin: 10px;
	padding: 10px;	
	display: grid;
	grid-gap: 15px;
	
		grid-template-areas:
		"tickets-article tickets-article tickets-article"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-footer ticket-footer aside"
		"student-footer student-footer cookie-statement"
		"student-footer student-footer cookie-statement";
}
#tickets-article
{
	grid-area: tickets-article;
	background: Pink;
}
#list-services-tickets
{
	margin-left: 40px;	
}
#ticket-table
{	
	margin: auto;
	grid-area: ticket table;
	width: 100%;	
}
#ticket-table th
{	
	background: DeepPink;
	border: 1px solid DeepPink;
	text-align: left;
}
#ticket-table td
{
	background: Pink;
	border: 1px solid DeepPink;
}
#tickets-aside
{
	grid-area: aside;
}
#ticket-aside-img
{
	width: 100%;
	background: Pink;
}
#ticket-footer
{
	grid-area: ticket-footer;
}
/*contact page PC */
#contact-grid-container
{
	background: #90c2e8;
	margin: 10px;	
	display: grid;
	grid-gap: 15px;
	grid-column-gap: 30%;
	grid-template-areas: "info info info"
						 "form form contact-aside"
						 "form form contact-aside" 
						 "form form contact-aside"
						 "form form contact-aside"
						 "form form contact-aside"
						 "student-footer student-footer cookie-statement"
						 "student-footer student-footer cookie-statement" ;
}
#contact-information
{
	grid-area: info;
}
#form
{
	grid-area: form
}
#message-box
{
	width: 100%;
	height: 200px;	
	background: #b3ffcc;
}
#contact-aside
{
	grid-area: contact-aside;
}
#contact-aside-img
{
	width: 50%;
}

/* mobile */
@media screen and (max-width: 480px)
{
	body
	{
		font-family: Arial, Helvetica, sans-serif;
	}
	h1
	{
		letter-spacing: 2px;
		text-transform: uppercase;		
	}
	h2
	{
		letter-spacing: 3px;
		color: DeepPink;
	}
	h3
	{	
		text-transform: uppercase;
		color: DeepPink;
	}
	h4
	{
		color: Grey;
		font-style: italic;
	}
	p
	{
		
	}
	footer
	{
		font-size: 10px;
	}
#menuToggle
{
	display: none;
}
/*header mob*/*/
#header-grid-container
	{
	margin: 10px;
	border: double 10px #6699ff;
	padding: 15px;
	display: grid;
	background: #ffccf3;
	grid-template-areas:
		"holidaylogo"
		"title"
		"payoff"
		"nav";
	}
#holidaylogo
{
	grid-area: holidaylogo;
	width: 10%
}
#title
{
	grid-area: title;
}
#payoff
{
	grid-area: payoff;
	word-spacing: 10px;
}
#nav
{	
	grid-area: nav;	
	height: 80px;
	width: 100%;
	background: #ffccf3;
	border: solid #6699ff;
}
#nav > *
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
#nav-ul 
{
	float: left;
	margin-left: 40px;
}
#nav-li 
{
	display: inline-block;
	margin: 0 10px;
	line-height: 80px;	
}
#nav-li > a
{
	color: black;
	font-size: 30px;
}
#nav-li > a:hover
{	
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
/*footer*/
#student-footer
{
	grid-area: student-footer;
}
#cookie-statement
{
	grid-area: cookie-statement;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #FA0;
	opacity: 50%;
}
/*index page Mobile*/
#index-video
{
	grid-area: video;
	width: 50%;
	padding: 15px;
}	
#index-grid-container
{
	background: #ffccf3;
	display: grid;
	grid-gap: 15px;	
	grid-template-areas:"index-article3 index-article1 aside"
						"index-article2 index-article2 aside"
						"index-article1 index-article3 aside"
						"student-footer student-footer cookie-statement"
						"student-footer student-footer cookie-statement";
}
#Article1-Curacao
{
	grid-area: index-article1;
	padding: 10px;
}
#Article2-Tenerife
{
	grid-area: index-article2;
	padding: 10px;
}
#Article3-Cruise
{
	grid-area: index-article3;
	padding: 10px;
}
#Article1-Curacao > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article1-Curacao > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#Article1-image-Curacao
{
	width: 30%;
	float: right;
	padding: 10px;
}

#Article2-image-Tenerife
{
	width: 30%;
	float: right;
	padding: 10px;
}
#Article2-Tenerife > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article2-Tenerife > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#Article3-image-Cruise
{
	width: 30%;
	float: right;
	padding: 10px;
}
#Article3-Cruise > a
{
	color: black;
	font-size: 20px;
	text-transform: uppercase;
}
#Article3-Cruise > a:hover
{
	color: DeepPink;
	border: 5px dotted DeepPink;
	transition: .3s;
}
#list-bestdestinations
{
	grid-area: aside;
	background: #e09590;
	font-size: 20px;
	padding: 10px;
	
}

/* Best Destinations Page PC*/
#bestdestinations-grid-container
{
	margin: 10px;
	background: #ffccf3;
	padding: 10px;	
	display: grid;
	grid-gap: 15px;
	
	grid-template-areas:"article2 article1 article3 "
						"article2 article1 article3 "
						"article5 article1 article3 "
						"article5 article1 article4 "
						"article5 article1 article4 "
						"article5 article1 article4 "
						"article5 article6 article6 "		
						"product1 product2 product3"
						"student-footer student-footer cookie-statement"
						"student-footer student-footer cookie-statement";
}						
#article1-bestdestinations
{
	grid-area: article1;
	background: #b3ffcc;
	padding: 10px;
	text-align: center;
}
#article2-bestdestinations
{
	grid-area: article2;
	background: #80ffff;
	padding: 10px;
	text-align: center;
}
#article3-bestdestinations
{
	grid-area: article3;
	background: #99ffff;
	padding: 10px;
	text-align: center;
}
#article4-bestdestinations
{
	grid-area: article4;
	background: #b3c6ff;
	padding: 10px;
	text-align: center;
}
#article5-bestdestinations
{
	grid-area: article5;
	background: #ffad99;
	padding: 10px;
	text-align: center;
}
#article6-bestdestinations
{
	grid-area: article6;
	background: #e6ffff;
	padding: 10px;
	text-align: center;
}

#product1-bestdestinations-cruise
{
	grid-area: product1;
}
#product2-bestdestinations-curacao
{
	grid-area: product2;
}
#product3-bestdestinations-tenerife
{
	grid-area: product3;
}
img
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* Tickets page PC*/
#tickets-grid-container
{
	background: #b3c6ff;
	margin: 10px;
	padding: 10px;	
	display: grid;
	grid-gap: 15px;
	
		grid-template-areas:
		"tickets-article tickets-article tickets-article"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-table ticket-table aside"
		"ticket-footer ticket-footer aside"
		"student-footer student-footer cookie-statement"
		"student-footer student-footer cookie-statement";
}
#tickets-article
{
	grid-area: tickets-article;
	background: Pink;
}
#list-services-tickets
{
	margin-left: 40px;	
}
#ticket-table
{	
	margin: auto;
	grid-area: ticket table;
	width: 100%;	
}
#ticket-table th
{	
	background: DeepPink;
	border: 1px solid DeepPink;
	text-align: left;
}
#ticket-table td
{
	background: Pink;
	border: 1px solid DeepPink;
}
#tickets-aside
{
	grid-area: aside;
}
#ticket-aside-img
{
	width: 100%;
	background: Pink;
}
#ticket-footer
{
	grid-area: ticket-footer;
}
/*contact page PC */
#contact-grid-container
{
	background: #90c2e8;
	margin: 10px;	
	display: grid;
	grid-gap: 15px;
	grid-column-gap: 30%;
	grid-template-areas: "info info info"
						 "form form contact-aside"
						 "form form contact-aside" 
						 "form form contact-aside"
						 "form form contact-aside"
						 "form form contact-aside"
						 "student-footer student-footer cookie-statement"
						 "student-footer student-footer cookie-statement" ;
}
#contact-information
{
	grid-area: info;
}
#form
{
	grid-area: form
}
#message-box
{
	width: 100%;
	height: 200px;	
	background: #b3ffcc;
}
#contact-aside
{
	grid-area: contact-aside;
}
#contact-aside-img
{
	width: 50%;
}
}